<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Edit Contact
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vero maxime quidem laudantium, provident aliquam beatae in perferendis dignissimos sequi incidunt magni necessitatibus corrupti! Expedita fuga ducimus ad vel quam.</p>
        </div>
    </div>
</div>

<!--Edit Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Update" type="submit">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://www.seekpng.com/png/detail/316-3163077_jordan-t-shirt-for-kids.png" alt="" class="contact-img">
        </div>
    </div>
</div>

